/*Header Styles*/
header {
    color: white;
    background-color: #111;
}

.head {
    padding-left: 16px;
    display: inline;
}

.firstLetter {
    display: inline;
    font-size: 55px;
}

.otherLetters {
    margin-left: -5px;
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.cart {
    position: absolute;
    right: 5px;
}

/*Body Styles*/
body {
    margin: 0;
}

.description {
    margin-top: -15px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #999;
}

/*Images*/
section {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap; 
	padding-bottom: 80px;
}

.media {
    min-width: 0;
    margin: 0px;
}

div img {
    width: 450px;
    max-width: 100%;
    max-height: 325px;
    max-height: 100%;
    transition: 0.5s all ease;
}

img:hover {
    transform: scale(0.97);
    transition: 0.5s all ease;
}